<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="@Url.Content("~/Content/assets/global/plugins/select2/select2.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/admin/pages/css/login-soft.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="@Url.Content("~/Content/assets/global/css/components.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/global/css/plugins.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/admin/layout/css/layout.css")" rel="stylesheet" type="text/css" />
    <link id="style_color" href="@Url.Content("~/Content/assets/admin/layout/css/themes/default.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/assets/admin/layout/css/custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.js")"></script>
    <script src="@Url.Content("~/Scripts/CommonScript.js")"></script>
    <!-- END THEME STYLES -->
    <link href="@Url.Content("~/Images/Favicon.ico")" rel="icon" type="image/x-icon" />
    <style>
        #navlanguage ul {
            margin-top: 10px;
            padding: 0;
            list-style-type: none;
            text-align: center;
        }

            #navlanguage ul li {
                display: inline;
            }

                #navlanguage ul li a {
                    text-decoration: none;
                    padding: .2em 1em;
                    color: #ffffff;
                }

                    #navlanguage ul li a:visited {
                        color: #ffffff;
                    }
    </style>
</head>
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="javascript:void(0);" style="padding: 0 !important; margin: 0 !important;">
            <img src="@Url.Content("~/Images/version-32.png")" />
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    <div class="menu-toggler sidebar-toggler">
    </div>
    <!-- END SIDEBAR TOGGLER BUTTON -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        @RenderBody()
        <!-- END LOGIN FORM -->
    </div>
    @Html.Partial("CommonPopup")
    <div id="dialog-process" class="modal fade in" role="dialog" aria-hidden="false" style="display: none;">
        <div class="row-fluid" style="margin-left: 50%; margin-top: 300px;">
            <i class="fa fa-spin fa-spinner" style="color: dodgerblue; font-size: 66px;"></i>
            <!--/span-->
        </div>
    </div>
    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->
    <div id="navlanguage">
        <ul>
            <li><a href="javascript:void(0);" onclick="ChangeLanguage('vi');">Tiếng Việt</a></li>
            <li><a href="javascript:void(0);" onclick="ChangeLanguage('en');">English (US)</a></li>
        </ul>
    </div>
    <div class="copyright">
        Copyright © 2015 by <b>NGV Group</b>.
    </div>
    <!-- END COPYRIGHT -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <!--[if lt IE 9]>
    <script src="@Url.Content("~/Content/assets/global/plugins/respond.min.js")"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/excanvas.min.js")"></script>
    <![endif]-->
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-migrate-1.2.1.min.js")" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery.cokie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Url.Content("~/Content/assets/global/plugins/jquery-validation/js/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/global/plugins/backstretch/jquery.backstretch.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/select2/select2.min.js")"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="@Url.Content("~/Content/assets/global/scripts/metronic.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/admin/layout/scripts/layout.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/assets/admin/layout/scripts/quick-sidebar.js")" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            // init background slide images
            $.backstretch([
             "@Url.Content("~/Content/assets/admin/pages/media/bg/1.jpg")",
             "@Url.Content("~/Content/assets/admin/pages/media/bg/2.jpg")",
             "@Url.Content("~/Content/assets/admin/pages/media/bg/3.jpg")",
             "@Url.Content("~/Content/assets/admin/pages/media/bg/4.jpg")"
            ], {
                fade: 1000,
                duration: 8000
            }
         );
        });
    </script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>