@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadPluginStyles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/global/plugins/select2/select2.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css")" />
}
<!-- BEGIN NHNSD TABLE-->
<div class="portlet box blue-madison">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-globe"></i>Danh sách người sử dụng
        </div>
        <div class="tools">
            <a href="javascript:;" class="reload">
            </a>
            <a href="javascript:;" class="remove">
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="tableDsNguoiDung">
            @Html.Partial("DanhSach")
        </table>
    </div>
</div>
<!-- END NHNSD TABLE-->
@section EndPluginJs{
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/select2/select2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js")"></script>
}
@section EndScriptsJs{
}



